 <div id="header">
        <div id="menuDiv">
            <img id="menuIcon" src="Images/menu_icon.png" ng-click="ShowHide()">
        </div>
        <div class="header_container">
            <a id="backToHome" href="fooldal.html">
                <div id="header_iconDiv">
                    <img id="header_icon" src="Images/Header_icon.png">
                </div>
                <h1>
                    Fűnyíró áruház
                </h1>
            </a>
        </div>
    </div>
<div id="rendezes_talalatszam" ng-controller="keresesViewController">
    <div id="rendezes_talalatszamContainer">
        <div id="rendezes">
            <p class="rendezes-talalat">Rendezés:</p>
            <select class="talalatSelect" name="rendezesi_szempontok">
                <option value="nev_nov">Név szerint növekvő sorrendben</option>
                <option value="nev_csok">Név szerint csökkenő sorrendben</option>
                <option value="cc_nov">Hengerűrtartalom szerint növekvő sorrendben</option>
                <option value="cc_csok">Hengerűrtartalom szerint csökkenő sorrendben</option>
                <option value="suly_nov"> Tömeg szerint csökkenő sorrendben</option>
                <option value="suly_csok"> Tömeg szerint csökkenő sorrendben</option>
            </select>
        </div>
        <div id="talalatszam">
            <p class="rendezes-talalat">Találatok száma oldalanként:</p>
            <select id="talalatszamok" class="talalatSelect" name="talalatszamok" ng-model="selectedTalalatszam"
                    ng-options="x for x in talalatszamok">
            </select>
        </div>
    </div>
</div>
<div id="szurocontainer" ng-show="IsVisible" ng-controller="keresesViewController">
    <div id="szuroCim">
        <h2>
            Részletes keresés
        </h2>
    </div>
    <div class="szuroCimek">Kulcsszó:</div>
    <label>
        <input id="nevMezo" type="text" name="nev" size="30" maxlength="25">
    </label>
    <div class="szuroCimek">Típus:</div>
    <label>
        <select name="tipus">
            <option onclick="enableHajtasValaszto()">Kézi</option>
            <option onclick="disableHajtasValaszto()">Fűkasza</option>
            <option onclick="disableHajtasValaszto()">Fűnyíró traktor</option>
            <option onclick="disableHajtasValaszto()">Fűnyíró robot</option>
        </select>
    </label>
    <div class="szuroCimek"> Hajtás:</div>
    <p class="hajtas"><label for="benzinHajtas"></label><input id="benzinHajtas" type="radio" name="hajtas"
                                                               value="benzines"> Benzines </p>
    <p class="hajtas"><label for="elektromosHajtas"></label><input id="elektromosHajtas" type="radio" name="hajtas"
                                                                   value="elektromos"> Elektromos </p>
    <div class="szuroCimek">Márka:</div>
    <label>
        <select name="marka">
            <option>Mindegy</option>
            <option>Márka 1</option>
            <option>Márka 2</option>
            <option>Márka 3</option>
        </select>
    </label>
    <div class="szuroCimek">Vágószélesség:</div>
    <div class="slider">
        <label for="vagoszelesseg_range"></label><input onchange="refreshVagoszelesseg()" type="range"
                                                        id="vagoszelesseg_range" class="range" value="100"><br>
    </div>
    <p class="minmax">
        <span class="minErtek">0cm</span><span id="vagoszelessegCurrentValue"></span><span class="maxErtek">120cm</span>
    </p>
    <div class="szuroCimek">Hengerűrtartalom:</div>
    <div class="slider">
        <label for="hengerurtartalom_range"></label><input onchange="refreshHengerurtartalom()" type="range"
                                                           id="hengerurtartalom_range" class="range" value="100"><br>
    </div>
    <p class="minmax">
        <span class="minErtek">0cm</span><span id="hengerurtartalomCurrentValue"></span><span
            class="maxErtek">120cm</span>
    </p>
    <div class="szuroCimek">Tömeg:</div>
    <div class="slider">
        <label for="tomeg_range"></label><input onchange="refreshTomeg()" type="range" id="tomeg_range" class="range"
                                                value="100"><br>
    </div>
    <p class="minmax">
        <span class="minErtek">0cm</span><span id="tomegCurrentValue"></span><span class="maxErtek">120cm</span>
    </p>
    <div id="keresesButtonContainer">
        <button id="keresesButton" onclick="">
            Keresés
        </button>
    </div>
</div>
 <div id="listaContainer" ng-controller="keresesViewController">
     <ul style="width: 100%">
         <li ng-repeat="funyiro in funyirok" class="funyiroListaElem">
             <div class="funyiroListaElem">
                 <div class="elemCim"><a href="#!reszletekView" ng-click="changeFunyiro(funyiro)">{{funyiro.megnevezes}}</a></div>
                 <a href="">
                     <div class="elemKep"><img class="funyiroKep" src="{{funyiro.image.src}}" width=""></div>
                 </a>
                 <div class="elemAdatok">
                     <ul style="margin-left: 15%;">
                         <li class="elemAdatokListaElem"><p class="param1">Márka:</p>
                             <p class="param2">{{funyiro.marka}}</p></li>
                         <li class="elemAdatokListaElem"><p class="param1">Típus:</p>
                             <p class="param2">{{funyiro.type}}</p></li>
                         <li class="elemAdatokListaElem"><p class="param1">Vágószélesség:</p>
                             <p class="param2">{{funyiro.vagoszelesseg}} cm</p></li>
                         <li class="elemAdatokListaElem">
                             <p class="param1">Hengerűrtartalom:{{funyiro.cc}} ccm</p></li>
                         <li class="elemAdatokListaElem"><p class="param1">Súly:</p>
                             <p class="param2">{{funyiro.suly}} kg</p></li>
                     </ul>
                 </div>
             </div>
         </li>
     </ul>
 </div>
 <footer>
     Kapcsolat: <a href="mailto:someone@example.com">
     someone@example.com</a>
 </footer>
